snippet pgfn
	create or replace function ${1:func_name} (${2:args}) returns ${3:void}
	as $$
	${4:declare}
	begin
		${0}
	end;
	$$ language plpgsql;
snippet pgsqlfn
	create or replace function ${1:func_name} (${2}) returns ${3:void}
	as $$
		${0}
	end;
	$$ language sql;
snippet pgdropfn
	drop function if exists ${1:function} (
		${2:arguments}
	);
